<!DOCTYPE html>
<html>
<head>
  <title>FlockBackend</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
  <script type="text/javascript">
    Parse.initialize("<%= ENV['PARSE_APP_ID']%>", "<%= ENV['PARSE_JAVASCRIPT_KEY']%>");
  </script>

<%= yield %>

</body>
</html>
